@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body{
  background-color: #f1ffe7ff;
}
*{
  font-family: 'Montserrat', sans-serif;
}
.serif{
  font-family: 'Playfair Display' !important;
}

.hide-scrollbar::-webkit-scrollbar{
  display: none;
}

.sticky-left {
  position: sticky;
  left: 0;
  z-index: 10 !important;
}
table tr:nth-child(2){
  background-color: #FFF;
}